@font-face {
    font-family: 'Roblox';
    src: url(../fonts/RobloxFont-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Press2P';
    src: url(../fonts/PressStart2P-Regular.ttf) format('truetype');
}

/* - GENERIC CSS - */

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: radial-gradient(
        circle,
        rgba(138, 138, 138, 1) 0%,
        rgba(252, 70, 107, 0) 100%
    );
}

.container-column {
    display: flex;
    flex-direction: column;

    position: relative;
}
.container-row {
    display: flex;
    flex-direction: row;

    position: relative;
}

.h1-container {
    width: 500px;
    height: 100px;

    background-image: radial-gradient(
        circle,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 20%,
        rgba(255, 255, 255, 0.087) 100%
    );

    margin: 10px auto 10px auto;
}
.h1-container > h1 {
    font-family: 'Roblox';
    font-size: 54px;
    color: red;

    margin: 0;
    padding-top: 20px;
}

/* - ABOUT ME CSS - */

#luigui29-sketch-img{
    width: 400px;
    height: 750px;

    position: relative;
    left: -35px;
    z-index: 2;

    user-select: none;
}

.aboutme-title-and-paragraph {
    width: 450px;
    height: 330px;

    display: flex;
    flex-direction: column;

    position: relative;
    left: -120px;
    top: -15px;
}

.aboutme-title {
    margin: 0;

    display: flex;  
    flex-direction: column;

    position: relative;
    z-index: 5;
}
.aboutme-title > h3,
.aboutme-title > h1 { 
    margin: 0;
}
h1 > span:nth-child(1) {color: red;}
h1 > span:nth-child(2) {color: orange;}
h1 > span:nth-child(3) {color: yellow;}
h1 > span:nth-child(4) {color: green;}
h1 > span:nth-child(5) {color: blue;}
h1 > span:nth-child(6) {color: purple;}
h1 > .symbol-span {font-size: 20px;}

.aboutme-paragraph {
    background-color: rgb(165, 123, 89);
    text-align: justify;

    border: 3px solid black;

    flex: 1;
    overflow-y: scroll;
    padding: 15px; 
}
.aboutme-paragraph > p:first-child { margin-top: 0; } 
.aboutme-paragraph > * {
    position: relative;
    z-index: 5;
}

.censor-span {
    width: 20px;
    height: 10px;

    background-color: black;
}
/* - VISIT BADGE CSS - */

.container-column:has(> #luigui-visit-badge) { 
    background-image: none;

    justify-content: center;
    align-items: center;
    position:relative;

    margin: 50px auto 50px auto;
}
.container-column:has(> #luigui-visit-badge)::before {
    content: " ";
    background-image: linear-gradient(
        328deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(151, 183, 186, 1) 35%,
        rgba(93, 228, 240, 1) 60%,
        rgba(144, 237, 245, 1) 70%,
        rgba(240, 255, 255, 1) 95%
    );

    width: 160px;
    height: 160px;
    border-radius: 100%;

    position: absolute;
    z-index: -1;
}
.container-column:has(> #luigui-visit-badge)::after {
    content: " ";
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.502);

    width: 200px;
    height: 200px;
    background-image: url(/images/roblox_blocky_texture.png);
    background-size: cover;

    position: absolute;
    z-index: -2;
}
#luigui-visit-badge {
    border-radius: 100%;

    position: relative;
    z-index: 5;
}
#download-badge-container {
    width: 100px;
    height: 35px;

    bottom: -80px;

    align-items: start;
    text-align: left;
    
    position: absolute;
    z-index: 5;
}

.download-button {
    width: 100px;
    height: 35px;

    color: white;
    background-image: linear-gradient(
        180deg,
        rgba(255,255,255,1) 0%,
        rgba(0, 36, 10, 0.5) 21%,
        rgba(9, 121, 16, 0.9) 51%,
        rgba(81, 255, 0, 0.8) 100%
    );
    border: 1px solid white;
}