@font-face {
    font-family: 'Roblox';
    src: url(../fonts/RobloxFont-Regular.ttf);
}
@font-face {
    font-family: 'Press2P';
    src: url(../fonts/PressStart2P-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin: auto 5% auto 5%;*/
    /*background-color: yellow;*/
    
    background: radial-gradient(
        circle,
        rgba(138, 138, 138, 1) 0%,
        rgba(252, 70, 107, 0) 100%);

    text-align: center;

    position: relative;
}

.container > h1 {
    font-family: 'Roblox';
    font-size: 64px;
    color: red;
    margin-top: 120px;
    margin-bottom: 0px;
}
.container > .container {
    background-image: none;
    color: white;

    position: absolute;
    top: 35%;
}
.container > p {
    font-family: 'Press2P';
    font-size: 14px;
    line-height: 1.5;
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 1) 0%,
        rgba(1, 1, 1, 0) 100%);
    width: 650px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#center-image-div {
    width: auto;
    height: 500px;
    margin: 5%;
    
    display: flex;
    justify-content: center;
}

#poked-image {
    display: none;
}

#click-me-btn {
    /*background-color: blue;*/
    margin: 120px auto 5% auto;

    height: 96px;
    width: 96px;
    border: 1px solid #F3F3F3;
    border-radius: 100%;
    background-image: linear-gradient(
        180deg,
        rgba(255,255,255,1) 0%,
        rgba(2, 0, 36, 0.5) 21%,
        rgba(9, 9, 121, 0.9) 51%,
        rgba(0, 212, 255, 0.8) 100%);
    box-shadow: 0px 0px 20px rgba(74, 74, 74, 0.5);
    color: black;
    text-decoration: none;

    transition-property: transform;
    transition-duration: 0.5s;
}

#click-me-btn:hover {
    transform: scale(1.5);
}

@keyframes poked_display {
    0% {display: visible;}
    100% {display: visible;}
}

